<div class="sql-home">

    <h3 class="sql-home-title">
        Learn about how to use <a href="http://aka.ms/mlsqldev"> SQL Server Machine Learning Services with Python and R</a>
    </h3>

    {% if site.commonChoices %}
    <div class="sql-home-items">
        {% for option in site.commonChoices %}
        {% assign item = option[1] %}
        <div class="sql-home-item">
            <div class="sql-home-itemflex">
                <a class="sql-home-link sql-home-link--spaced" href="{{item.link}}">{{item.text}}</a>
            </div>
        </div>

        {% endfor %}
    </div>
    {% endif %}

    <footer class="sql-home-footer">
        {% if site.data.partners %}
        <!--
        title: Ispirer
        text: Ispirer offers migration tools and services for Microsoft SQL Server and others.
        url: http://www.ispirer.com/solutions/migration-to-the-microsoft-technology-stack
        logoUrl: https://mpbdevcontent.azureedge.net/Images/Ispirer_logo.png
        logoAltText: Ispirer Migration and Modernization Toolkit (MnMTK) 2015
        -->
        {% for partner in site.data.partners %}
        {% assign item = partner[1] %}
        <div class="sql-home-items">
            <div class="sql-home-item sql-home-item--column">
                <a href="{{item.url}}" target="_blank">
                    <img class="sql-home-icon sql-home-icon--block"
                         src="{{item.logoUrl}}" alt="{{item.logoAltText}}">
                </a>
                <span class="sql-home-text">{{item.text}}</span>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </footer>

<!-- TODO: LOCALIZE! LOCALIZE! >:( -->
    <span class="sql-home-message">
        Don't see a programming language you were looking for? Join the conversation on <a class="sql-home-link sql-home-link--underline" href="{{site.gitter}}" target="_blank">Gitter</a>.
        <br>
        <br>
        Contribute to these tutorials on <a class="sql-home-link sql-home-link--underline" href="https://github.com/Microsoft/sqldev/" target="_blank">our GitHub repository</a>!
    </span>
</div>
